/* ---------- GLOBAL ---------- */
:root {
  --main: #f06623;
  --grey-back: #f4f4f4;
  --grey-accent: #ddd;
}

/* Fonts */
@font-face {
  src: url('./assets/fonts/Poppins.ttf');
  font-family: 'font1';
}

@font-face {
  src: url('./assets/fonts/OpenSans.ttf');
  font-family: 'font2';
}

body {
  margin: 0px
}

p {
  margin: 0px !important;
}

figure {
  margin: 0px !important;
}
/* ---------- END GLOBAL ---------- */

/* ---------- GENERIC ---------- */
.highlighted {
  color: var(--main)
}

.proximax-btn {
  border: 0px;
  background: var(--main);
  padding: 10px 30px;
  color: white;
  font-family: 'font1';
  border-radius: 20px;
  font-weight: bold;
  outline: none;
}

.link:hover {
  color: var(--main);
  text-decoration: underline;
  cursor: pointer;
}

.box-grey {
  background: var(--grey-back);
  padding: 20px;
  border-radius: 20px;
}

.subtitle {
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  color: grey
}

.value {
  color: black;
  font-size: 14px;
}

.lower {
  text-transform: lowercase;
}

.upper {
  text-transform: uppercase;
}

.txt-left {
  text-align: left;
}

.txt-right {
  text-align: right;
}

.txt-center {
  text-align: center;
}
/* ---------- END GENERIC ---------- */

/* ---------- COMPONENTS ---------- */

/* APP */
#app {
  font-family: 'font2';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

/* App Header */
.app-sidebar {
  background: transparent;
  position: fixed;
  width: 200px;
  height: 100%;
  background: #000;
  box-sizing: border-box;
}

.main-logo {
  padding: 20px 10px;
}

.main-logo > .logo {
  width: 150px;
}

.links-list {
  height: 300px;
}

.nav-item {
  color: white;
  font-weight: bold;
  text-align: left;
  padding: 10px;
  text-transform: uppercase;
  transition: all ease 0.3s;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.nav-item:hover {
  background: var(--main);
}

.nav-item-active {
  background: white;
  color: black
}

.nav-item > .icon {
  width: 40px;
}

.nav-item > .name {
  padding-left: 10px;
  font-size: 14px;
}

/* Module Header */
.module-header {
  background: transparent;
  width: auto;
  display: flex;
  font-family: 'font1';
}

.header-title {
  width: 100%;
  color: var(--main);
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  text-align: left;
  text-transform: uppercase;
}

.header-title-module {
  width: 100%;
  color: black;
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  text-align: right;
  text-transform: uppercase;
}

/* Node Info */
.node-info {
  padding: 10px
}

.node-info > .supercont {
  margin-bottom: 10px;

}

.node-info > .cont {
  display: flex;
  margin-bottom: 10px;
}

.node-info > .cont > .box-grey:first-child {
  margin-right: 5px;
  flex-grow: 1;
}

.node-info > .cont > .box-grey:last-child {
  margin-left: 5px;
  flex-grow: 1;
}
/* App Searchbar */
.app-searchbar {
  padding: 10px;
}

.input-cont {
  padding: 20px;
}

.input-cont > .selector {
  width: 100%;
  display: flex;
  justify-content: center;
}

.input-cont > .selector > .selector-item {
  background: var(--grey-accent);
  padding: 7px 25px;
  font-size: 16px;
  cursor: pointer;
  transition: all ease 0.3s;
}

.selector-active {
  background: var(--main) !important;
  color: white;
}

.input-cont > .selector > .selector-item:first-child {
  border-radius: 20px 0px 0px 20px;
}

.input-cont > .selector > .selector-item:last-child {
  border-radius: 0px 20px 20px 0px;
}

.input-cont > .field {
  padding: 5px 0px;
  width: 100%;
  background: transparent;
  outline: none;
  border: 0px;
  border-bottom: 1px solid grey;
  margin: 5px 0px;
  font-size: 17px;
}

.input-cont > .field:focus {
  border-bottom: 1px solid var(--main);
}

.search-error {
  background: red;
  color: white;
  font-weight: bold;
  border-radius: 20px;
  padding: 2px 10px;
  transition: all ease 0.3s;
  margin: 10px 0px;
}

/* ---------- END COMPONENTS ---------- */

/* ---------- MEDIA QUERIES ---------- */
@media screen and (min-width: 1367px) {
  .view-container {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 0px;
    box-sizing: border-box;
    padding-left: 200px;
  }

  .view-container > .view {
    width: 100%;
    max-width: 1366px;
  }
}

@media screen and (max-width: 1366px) {
  .view-container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding-left: 200px;
  }

  .view-container > .view {
    width: 100%;
  }
}

@media screen and (max-width: 1024px) {
  .view-container {
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding-left: 200px;
  }

  .view-container > .view {
    width: 100%
  }
}

@media screen and (max-width: 960px) {
  .view-container > .view {
    width: 100%;
  }
}
/* ---------- END MEDIA QUERIES ---------- */